* {
  box-sizing: border-box;
}

textarea {
  width: 550px;
  height: 300px;
}

.error {
  border: #f00 1px solid;
  padding: 12px;
  margin: 12px;
}

.caps {
  display: inline-block;
  margin-left: 12px;
  border: 1px solid #333;
  white-space: pre-wrap;
  padding: 12px;
  text-align: left;
}

.settings {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 30% auto;
  text-align: left;
  margin: 12px;
  max-width: 550px;
  align-items: center;
}

.range {
  width: 200px;
}

.val {
  width: 80px;
}

select {
  width: 280px;
}

label {
  text-align: right;
  font-weight: 600;
}

button,
input {
  padding: 12px;
  vertical-align: middle;
}

pre {
  overflow: auto;
}

.code {
  position: absolute;
  border: 1px solid #333;
  padding: 12px;
  margin: 12px;
  white-space: pre-wrap; 
  word-wrap: break-word;
  width: calc(100% - 24px);
}