.App {
  text-align: center;
}

textarea {
  width: 550px;
  height: 300px;
}

.error {
  border: #f00 1px solid;
  padding: 12px;
  margin: 12px;
}

.caps {
  display: inline-block;
  margin-left: 12px;
  border: 1px solid #333;
  white-space: pre-wrap;
  padding: 12px;
  text-align: left;
}

.settings {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 30% auto;
  text-align: left;
  margin: 12px;
  max-width: 550px;
  align-items: center;
}

.range {
  width: 150px;
}

.val {
  width: 50px;
}

select {
  width: 200px;
}

label {
  text-align: right;
  font-weight: 600;
}

button,
input {
  padding: 12px;
  vertical-align: middle;
}